*

!.clang-format
!.clang-tidy
!.cade
!.editorconfig
!.gitattributes
!.gitignore
!.rustfmt.toml
!.taplo.toml
!Cargo.lock
!Cargo.toml
!LICENSE
!README.md
!flake.lock
!flake.nix

!isa/
!isa/**

!src/
!src/**

!doc/
!doc/**
